.main-header {
  margin-top: 25px;
}

.top-title {
  max-width: 838px;
}

h3 {
  font-size: 22px;
  line-height: 33px;
}

.star-header {
  width: 5vw;
  top: 90px;
  right: 50px;
}

.star-middle {
  width: 5vw;
  top: 50%;
  right: 50px;
}

.founder-star {
  bottom: 30px;
  right: 30px;
  width: 10vw;
}

.welcome-message {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 3px;
  padding: 4px 8px;
}

.main-title {
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 990px;
  font-size: 35px;
  line-height: 38px;
  z-index: 99;
  padding-bottom: 4px;
}

.main-title-fade {
  background: -webkit-linear-gradient(70deg, var(--bs-primary), #ededed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-info {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: center;
  max-width: 424px;
}

.header-description {
  text-align: center;
  max-width: 750px;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
  z-index: 99;
  padding-right: 20px;
  padding-left: 20px;
}

.why-choose {
  width: 100%;
  text-align: center;
}

.star-1 {
  width: 80px;
  position: absolute;
  top: 0px;
  right: 7vw;
  transform: translateY(-50%);
}

.star-2 {
  position: absolute;
  bottom: 0px;
  width: 60px;
  left: 7vw;
  transform: translateY(100%);
}

.h2-el {
  z-index: 99;
  max-width: 921px;
}

.why-spike {
  white-space: nowrap;
}

.become-partner-main {
  width: calc(100% - 50px);
  max-width: 1232px;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 22px;
  border: 1px solid #b6d6e8;
  background-color: white;
  z-index: 10;
}

.separator {
  width: calc(100% -60px);
  margin: 15px 30px;
  height: 1px;
}

.cards-div {
  max-width: 1232px;
  width: calc(100% - 50px);
  margin-right: 25px;
  margin-left: 25px;
}

.lamp {
  display: none;
}

.card img {
  width: 190px;
}

.become-partner-section {
  margin-top: 40px;
  padding-top: 6vw;
  margin-bottom: 90px;
}

.why-choose-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.why-choose-description {
  width: 100%;
  max-width: 750px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.next-step {
  z-index: 999;
  max-width: 100%;
}

.next-step h1 {
  white-space: wrap;
}

.electricity-tower {
  max-width: 651px;
  height: 100%;
  opacity: 0.3;
}

.services-cards {
  max-width: 1100px;
  width: calc(100% - 50px);
  margin-right: 25px;
  margin-left: 25px;
}

.services-logo {
  background-color: #f6e5fa;
  width: 50px;
  height: 50px;
}

.contact-info {
  max-width: auto;
}

.wire {
  width: 18vw;
  display: none;
}

.solar-panel {
  width: 23vw;
  display: none;
}

.card {
  padding: 40px !important;
  border: none;
}

/* h3 {
    font-size: 28px !important;
    line-height: 32px !important;
} */

.mb-115 {
  margin-bottom: 130px !important;
}

.shared-principles {
  max-width: 1232px;
  width: calc(100% - 50px);
  margin-right: 25px;
  margin-left: 25px;
}

.owl-btns {
  width: 72px !important;
  height: 72px !important;
  transform: scale(0.7);
}

.owl-carousel .item {
  height: 330px !important;
}

.owl-carousel .card {
  transform: translateX(0%);
}

.why-spike-financial {
  font-size: 25px;
  line-height: 35px;
}

h2 {
  font-size: 23px !important;
  line-height: 28px !important;
}

.founder-container {
  width: calc(100% - 50px);
  max-width: 1232px;
  padding: 20px;
  border-radius: 22px;
  border: 1px solid #b6d6e8;
  background-color: white;
  z-index: 10;
}

.size-adjust {
  font-size: 30px !important;
  line-height: 35px !important;
}

@media (min-width: 576px) {
  .why-spike-financial {
    font-size: 35px;
    line-height: 40px;
  }

  .header-description {
    font-size: 18px;
  }

  h2 {
    font-size: 32px !important;
    line-height: 38px !important;
  }

  .become-partner-main {
    padding: 40px;
  }

  .main-title {
    font-size: 50px;
    line-height: 52px;
  }

  .size-adjust {
    font-size: 40px !important;
    line-height: 45px !important;
  }
}

@media (min-width: 767px) {
  .founder-container {
    max-width: 600px;
  }

  .owl-btns {
    transform: scale(1);
  }

  .owl-carousel .card {
    /* transform: translateX(-50%);*/
  }
  .owl-carousel {
    width: calc(100% - 60px - 1.5rem);
    margin-left: calc(30px + 1.5rem);
  }
  .owl-carousel .owl-stage-outer {
    overflow: visible;
  }

  .star-1 {
    width: 106px;
  }

  .become-partner-main {
    padding: 80px;
  }

  .become-partner-main.first {
    padding: 50px;
  }

  .lamp {
    display: block;
  }

  .header-info {
    font-size: 22px;
    line-height: 33px;
  }

  .main-header {
    margin-top: 90px;
  }

  .main-title {
    font-size: 50px;
    line-height: 50px;
  }

  .size-adjust {
    font-size: 50px;
    line-height: 55px;
  }
}

@media (min-width: 992px) {
  .founder-container {
    max-width: 1232px;
  }

  .next-step h1 {
    white-space: noWrap;
  }

  .electricity-tower {
    opacity: 1;
  }

  .separator {
    width: 1px;
    height: 100%;
    margin: 0;
  }

  .wire {
    bottom: 0;
    transform: translateY(50px);
    display: block;
  }

  .solar-panel {
    /* width: 190px; */
    bottom: 0;
    transform: translateY(50px);
    display: block;
  }

  .size-adjust {
    font-size: 60px !important;
    line-height: 65px !important;
  }

  .next-step {
    max-width: 530px;
  }
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 75px;
    line-height: 78px;
  }

  /* .wire{
        width: 260px;
    } */

  /* .solar-panel{
        width: 230px;
    } */

  h2 {
    font-size: 40px !important;
    line-height: 52px !important;
  }

  .why-spike-financial {
    font-size: 40px;
    line-height: 52px;
  }
}
.owl-box-section {
  margin-top: 150px;
}
/* Mobile version  */
@media (max-width: 769px) {
  .solar-panel {
    display: block !important;
    width: 100px;
    top: -100 !important;
    left: 0;
    z-index: -3;
  }
  .wire {
    display: block !important;
    width: 100px;
    right: 0 !important;
    top: -110 !important;
    z-index: -3;
  }
  .become-partner-section-img {
    width: 90% !important;
    margin: auto !important;
  }
  .empowering-text {
    margin-top: 2rem !important;
  }
  .m-carousel-card {
    width: 90% !important;
    margin: auto;
  }
  .main-header-star {
    margin-top: 30px;
    display: block !important;
    top: -180;
    right: 20;
    width: 40px;
  }
  .main-header-star2 {
    display: block !important;
    top: 90;
    right: 40;
  }
  .owl-box-section {
    margin-top: 3.5rem;
  }
  .header-description {
    font-weight: 600;
  }
  .become-partner-section {
    margin-bottom: 0px !important;
  }
  .right-gradient-effect {
    background-position: bottom 0px right 0px;
  }
  .founder-card {
    background: transparent !important;
  }
  .founder-header-description {
    width: 100% !important;
  }
  .owl-controls-section {
    margin-bottom: 0 !important;
  }
  .next-step-bg {
    background: transparent !important;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .home-card-two {
    margin-top: -10px !important;
  }
  .home-card-three {
    margin-top: 50px !important;
  }
  .header-description {
    font-weight: 600;
  }
  .owl-controls-mb {
    margin-bottom: 20px !important;
  }
  .founder-card-mb {
    margin-bottom: 20px !important;
    padding: 20px 0px;
  }
  .owl-dots {
    z-index: 100 !important;
    display: block !important;
    width: 500px !important;
  }
  .header-description {
    line-height: 25px !important;
  }
  .owl-carousel {
    width: 80%;
    margin-left: 10%;
  }
  .owl-carousel .owl-stage-outer {
    overflow: visible;
  }
  .card {
    padding: 36px 28px !important;
    border: 1px solid #e1e1e1;
  }
  .owl-carousel .card {
    padding: 16px 24px !important;
    padding-top: 30px !important;
    border: 1px solid #ddd;
    margin: 0px;
  }
  .m-carousel-card {
    width: 92% !important;
  }
  .owl-carousel .card h3 {
    line-height: 12px;
    margin-bottom: 0px;
  }
  .owl-carousel .item {
    height: 270px !important;
  }
  form.card {
    width: calc(100% - 20px);
  }
  .become-partner-main {
    width: calc(100% - 70px);
  }

}
@media (max-width: 597px) {
  .solar-panel {
    width: 70px;
    top: -30 !important;
  }
  .wire {
    width: 70px;
    right: 0 !important;
    top: -60 !important;
  }
  .main-header-star {
    top: -195;
  }
  .main-header-star2 {
    top: 120;
    width: 50px !important;
  }
  .empowering-description {
    width: 100% !important;
    line-height: 20px;
  }
  .left-gradient-effect {
    background-position: top 0 left 0px;
  }
  .star-img {
    width: 20px !important;
  }
  .transforming-payments-text {
    display: block !important;
  }
  .become-partner-section {
    margin-top: 25px !important;
  }
  .become-partner-section-img {
    margin-bottom: 20px !important;
  }
  .empowering-text {
    margin-top: 2.5rem !important;
  }
}
@media (max-width: 440px) {
  .main-header-star {
    top: -230;
  }
  .main-header-star2 {
    top: 150;
    width: 30px !important;
  }
  .wire {
    width: 50px;
    right: 0 !important;
    top: -15 !important;
    z-index: -3;
  }
}
@media (max-width: 390px) {
  .solar-panel {
    width: 50px;
    left: 0 !important;
    top: -25 !important;
  }
  .next-step-text {
    font-size: 1.8rem !important;
  }
  .wire {
    width: 50px;
    right: 0 !important;
    top: -10 !important;
    z-index: -3;
  }
  .main-header-star2 {
    top: 200;
  }
}
@media (max-width: 360px) {
  .main-title,
  .main-title-span {
    font-size: 1.8rem;
  }
}
