.main-header{
    margin-top: 25px;
}

.stars-header{
    top: 90px;
}

.welcome-message{
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 3px;
    padding: 4px 8px
}

.max-w-838{
    max-width: 878px !important;
}

.main-title{
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
    max-width: 990px;
    font-size: 35px;
    line-height: 38px;
    z-index: 99;
}

.main-title span{
    font-family: Inter;
    font-size: 42px;
    line-height: 45px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: center;
    display: block;
    position: relative;
}

.main-title-span{
    background: -webkit-linear-gradient(-50deg, var(--bs-primary), #ededed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-info{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.025em;
    text-align: center;
    max-width: 424px;
}

.header-description{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    z-index: 99;
}

.why-choose{
    width: 100%;
    text-align: center;
}

.star-1{
    width: 80px;
    position: absolute;
    top: 0px;
    right: 7vw;
    transform: translateY(-50%);
}

.star-2{
    position: absolute;
    bottom: 0px;
    width: 60px;
    left: 7vw;
    transform: translateY(100%);
}

.h2-el{
    z-index: 99;
}

.become-partner-main{
    width: calc(100% - 50px);
    max-width: 1232px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 22px;
    border: 1px solid #b6d6e8;
    background-color: white;
    z-index: 10;
}

.separator{
    width: calc(100% -60px);
    margin: 15px 30px;
    height: 1px;
}

.cards-div{
    max-width: 1232px;
    width: calc(100% - 50px);
    margin-right: 25px;
    margin-left: 25px;
}

.lamp{
    display: none;
}

.card img{
    width: 190px;
}

.become-partner-section{
    margin-top: 100px;
    padding-top: 4vw;
    margin-bottom: 115px;
}

.why-choose-section{
    margin-top: 115px;
    margin-bottom: 115px;
}

.why-choose-description{
    width: 100%;
    max-width: 620px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.next-step{
    z-index: 999;
    max-width: 530px;
    
}

.electricity-tower{
    max-width: 651px;
    height: 100%;
    opacity: 0.3;
}

.services-cards{
    max-width: 1232px;
    width: calc(100% - 50px);
    margin-right: 25px;
    margin-left: 25px; 
}

.services-logo{
    background-color: #f6e5fa;
    width: 50px;
    height: 50px;
}

.contact-info{
    max-width: auto;
}

.shield{
    width: 16vw;
    display: none;
}

.megaphone{
    width: 15vw;
    display: none;
}

.card-list li{
    font-weight: 700 !important;
    text-align: left !important;
    margin-bottom: 13px;
    list-style-type: disc;
    font-size: 16px !important;
    line-height: 24px !important;
}

.card-list li:last-child{
    margin-bottom: 0px;
}

.card-list li span{
    font-weight: 400 !important;
}


h3{
    font-size: 18px !important;
    line-height: 23px !important;
}

.card ul li{
    list-style-type: disc !important;
}

.card{
    padding: 25px !important
}



@media (min-width: 576px){

    .become-partner-main{
        padding: 40px;
    }

    .main-title{
        font-size: 40px;
        line-height: 42px;
    }

    .main-title span{
        font-size: 60px;
        line-height: 63px;
    }
}

@media (min-width: 768px){

    .star-1{
        width: 106px;
    }
    
    .become-partner-main{
        padding: 80px;
    }

    .lamp{
        display: block;
    }

    .header-info{
        font-size: 22px;
        line-height: 33px;
    }

    .main-header{
        margin-top: 50px;
    }
}


@media (min-width: 992px) {

    .electricity-tower{
        opacity: 1;
    }

    .header-description{
        font-size: 18px;
        line-height: 29px;
    }

    h3{
        font-size: 28px !important;
        line-height: 32px !important;
    }

    .main-title{
        font-size: 48px;
        line-height: 78px;
    }

    .main-title span{
        font-size: 75px;
        line-height: 86px;
    }

    .separator{
        width: 1px;
        height: 100%;
        margin: 0;
    }

    .shield{
        transform: translateY(-50%);
        display: block;
    }

    .megaphone{
        transform: translateY(-50%);
        display: block;
    }

    .card-list li{
        font-size: 18px !important;
        line-height: 28.8px !important;
    }

    .card{
        padding: 60px !important;
    }
}

@media (min-width: 1200px){

    /* .shield{
        width: 260px;
    } */

    /* .megaphone{
        width: 230px;
    } */
}